<div class="container marketing">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Founders Of Knockout</h1>
        <p class="lead text-muted">Abhishek | Vishal</p>
    
      </div>
    </div>
  </section>




    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='#';">Vishal Singh Rathore <span class="text-muted"></span></h2>
        <p class="lead">about vish</p>
      </div>
      <div class="col-md-5">
         <img src="assets/img/vishal.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='#';">Abhishek  <span class="text-muted"></span></h2>
        <p class="lead">about Abhishek</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/img/vishal.jpg" class="d-block w-100" alt="...">

      </div>
    </div>
   
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 py-4 my-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/linkedin.jpg" class="card-img-top" alt="..." onclick="location.href='https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/';">
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/';">Linkedin</h5>
        <p class="card-text" onclick="location.href='https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/';">Connect with me on linkedin</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Abhiraj Singh Rathore</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/instagramlogo.png" class="card-img-top" alt="..." onclick="location.href='https://www.instagram.com/abi.rathore/';" >
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='https://www.instagram.com/abi.rathore/';">Instagram</h5>
        <p class="card-text" onclick="location.href='https://www.instagram.com/abi.rathore/';">Follow and add me on instagram to get more closer and personal insight of me. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">@abi.rathore</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/gmaillogo.png" class="card-img-top" alt="..." onclick="location.href='https://mail.google.com/mail/u/0/#inbox';">
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='https://mail.google.com/mail/u/0/#inbox';">Gmail</h5>
        <p class="card-text" onclick="location.href='https://mail.google.com/mail/u/0/#inbox';">For more professionalism I hereby provide my email on which I always am active</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">abhiraj.rathoree@gmail.com</small>
      </div>
    </div>
  </div>
</div>